* {
  padding: 0;
  margin: 0;
}

:root {
  --color-nav: #333;
  --color-azul: #3774ec;
  --tipografia-Titulo: 'Oswald', sans-serif;
  --tipografia-Resto: 'Rubik', sans-serif;
}


/* Estilo para el elemento <nav> */
.nav {
  background-color: var(--color-nav);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media (max-width: 700px) {
  .icono {
    margin: auto;
  }
}

/* Estilo para el icono */
.icono {
  padding-left: 3px;
  width: 6em;
  height: 50px;
  color: rgb(231, 231, 231);

}

/* Estilo para el titulo */
.titulo {
  font-family: var(--tipografia-Titulo);
  color: var(--color-azul);
  padding: 10px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.hidden {
  display: none;
}

/* Estilo para el contenedor de informacion principal */
.todo {
  background-color: #f4f4f4;
  padding-right: 150px;
  padding-left: 150px;
  font-family: var(--tipografia-Resto);
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.con-info {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 700px) {
  .todo {
    padding: 10px;
  }

  .con-info {
    padding: 10px;
  }
}